@font-face {
  font-family: 'MTSCompact-Black';
  src: url('../assets/fonts/MTSCompact-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MTSCompact-Medium';
  src: url('../assets/fonts/MTSCompact-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.search-input::placeholder {
  font-family: 'MTSCompact-Medium', sans-serif; /* Измените на нужный шрифт */
  color: gray; /* Цвет плейсхолдера */
  font-size: 16px; /* Размер шрифта */
}

::-webkit-scrollbar {
  width: 10px; /* Ширина полосы прокрутки */
  background-color: transparent; /* Сделаем полосу прокрутки прозрачной */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Ползунок прозрачный */
  border-radius: 8px; /* Скругление углов ползунка */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Прозрачный фон области прокрутки */
  border-radius: 8px; /* Скругление углов области прокрутки */
}

